<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Jellyfin2Samsung"
    Manufacturer="Jellyfin2Samsung"
    Version="$(env.VERSION)"
    UpgradeCode="6f3e2a1b-4c5d-4e6f-a7b8-9c0d1e2f3a4b"
    Scope="perMachine">

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="MainFeature" Level="1">
      <ComponentGroupRef Id="MainComponents" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="Jellyfin2Samsung" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="MainComponents" Directory="INSTALLFOLDER">
      <Files Include="publish\**\*.*" />
    </ComponentGroup>
  </Fragment>
</Wix>
